@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
html,
body {
  height: 100%;
  color: #666666;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 990px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 970px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg.svg");
  background-color: #1968B1;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  color: white;
  border: 1px solid #000000;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 21px 0px 61px 0;
}

.hero__title-section {
  width: 583px;
}

.hero__main-title {
  font-size: 58px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero__title-desc {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 39px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 700;
  line-height: 30px;
}

.phone-number {
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 12.9px;
  height: 13.78px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  font-weight: 700;
  max-width: 90px;
}

.btn {
  display: inline-block;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  padding: 21px 41px;
  color: #000;
  background-color: #FEDB3F;
  border-radius: 100px;
  border: none;
}
.btn:hover {
  background-color: #000000;
  color: #FEDB3F;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  background: #fff;
  color: #000;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 650px;
}

.section__title {
  color: #292929;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.headline {
  text-align: center;
  margin-bottom: 49px;
}

.headline__title {
  margin-bottom: 17px;
}

.headline__subtitle {
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 25%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(img/benefits_item.svg);
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-size: 27px;
  font-weight: 700;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px 42px;
  margin-bottom: 15px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 27px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 14px;
}

.reviews__text {
  margin-bottom: 25px;
}

.reviews__author {
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
}
.interactive-avatar:last-child {
  margin-right: 0px;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 13px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #FFF;
  font-weight: 400;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 36px;
  margin-bottom: 15px;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__btns {
  margin-top: 44px;
}

.order-section {
  background: url("../img/delivery_image.svg") center no-repeat;
  background-size: cover;
  color: white;
}

.order-title {
  color: inherit;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 20%;
}
.radio--checkbox .radio__visible:before {
  background: url(/img/checkbox.svg) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.radio__title {
  margin: 0 10px;
}