.headline {
    text-align: center;
    margin-bottom: 49px;

}
.headline__title {
    margin-bottom: 17px;
}
.headline__subtitle {
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 25%;
}